
.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Prevent overflow */
  }
  
  .header {
    width: 100%;
    background-color: #f8f9fa; 
    text-align: center;
    border-bottom: 1px solid #dee2e6; 
    padding: 1rem;
  }
  
  .content {
    display: flex;
    flex: 1;
    padding: 1rem;
    overflow-y: auto; 
  }
  
  .chart {
    flex: 3;
    height: 70vh; 
    width: 60vh; 
  }
  
  .controls {
    flex: 1;
    width: 80%; 
    overflow-y: auto; 
    padding-top: 3rem;
  }
  
  @media (max-width: 500px) {
    .header {
        width: 85%;
        align-self: center;
        background-color: #ace9dd;
        border-radius: 10px;
        padding-bottom: 0%;
        padding-top: 0%;
        margin-top: 1rem;
    }
    .chart-title {
        color: #183a5c;
    }

    .content {
      flex-direction: column;
      align-items: center;
      height: 100%; 
      overflow-y: auto; 
      gap: 1rem;
    }
  
    .chart {
      order: 1;
      width: 50vh; 
      height: 30vh; 
      max-height: 30vh; /* Stops to stretch beyond this height */
    }
  
    .controls {
      order: 2;
      width: 80%; 
      height: auto; /* Adjust height to fit content */
      overflow-y: auto;
    }
  }
  