
.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Prevent overflow */
  }
  
  .header {
    width: 100%;
    background-color: #f8f9fa; /* Light background color for the header */
    text-align: center;
    border-bottom: 1px solid #dee2e6; /* Optional: Add a bottom border */
    padding: 1rem;
  }
  
  .content {
    display: flex;
    flex: 1;
    padding: 1rem;
    overflow-y: auto; /* Enable vertical scroll if needed */
  }
  
  .chart {
    flex: 3;
    height: 70vh; /* Adjust height as needed */
    width: 60vh; /* Ensure full width */
  }
  
  .controls {
    flex: 1;
    width: 100%; /* Ensure full width */
    overflow-y: auto; /* Enable vertical scroll if needed */
  }
  
  @media (max-width: 500px) {
    .content {
      flex-direction: column;
      align-items: center;
      height: 100%; /* Ensure content takes full height */
      overflow-y: auto; /* Enable vertical scroll if needed */
    }
  
    .chart {
      order: 1;
      width: 60vh; /* Ensure full width */
      height: 30vh; /* Adjust height for better proportion */
      max-height: 30vh; /* Ensure it does not stretch beyond this height */
      margin-bottom: 2rem; /* Add spacing between sections */
    }
  
    .controls {
      order: 2;
      width: 100%; /* Ensure full width */
      height: auto; /* Adjust height to fit content */
      
    }
  }
  