.App {
    height: 80vh; 
    display: flex;
    padding: 4rem;
    
  }
  
  @media (max-width: 500px) {
    .App {
      flex-direction: column-reverse; 
      align-items: center;
      overflow-y: auto; 
    }
  
    .App > div:first-child {
      order: 2; 
      width: 60vh; 
      height: 30vh; 
      margin-bottom: 2rem;
    }
  
    .App > div:last-child {
      order: 1; 
      width: 100%; 
      max-width: 100%; 
    }
  }
  